@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700&family=Oswald&family=Roboto:ital,wght@0,400;1,700&display=swap');

/*----------------------------------------------GENERAL------------------------------------------------*/
:root {
  --color-1: #fff;
  --menu-count: 4;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif Display", sans-serif;
  background-color: #fff;
}

.wrapper-main {
  width: 1000px;
  margin: 0 auto;
}


/*----------------------------------------------HEADER-----------------------------------------------------*/


header {
  background-color: var(--color-1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-menu .nav-item {
  list-style: none;
}

.nav-menu .nav-item a {
  color: #051320;
  text-decoration: none;
  transition: 0.6s ease;
  font-family: "Noto Serif Display", sans-serif;
  font-weight: 600;
}

.nav-menu .nav-item a:hover {
  color: #144e77;
}

.navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  font-size: 30px;
  color: #051320;
  text-transform: capitalize;
  font-family: "Noto Serif Display", sans-serif;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.fa-solid .fa-bars {
  font-weight: 600;
  font-size: 30px;
}

.logo h1 {
  position: relative;
}

.logo h1::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #051320;
  height: 2px;
  box-sizing: border-box;
  width: 160px;
}

/*----------------------------------------------HERO IMAGE----------------------------------------------------*/

.hero-image {
  width: 100%;
  height: 100vh;
  background-image: url("../images/heroimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.hero-image-container {
  overflow: hidden;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/*.hero-heading {
  margin-top: 400px;
  background-color: rgba(60, 60, 60, .7);
  width: 300px;
  position: absolute;
  left: 10%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

width: 50%;
  text-align: center;
  padding: 20% 15%;*/

/*
.hero-heading h2 {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #f8f8f8;
  position: relative;
  padding: 20px 5px;
}


  font-family: "Noto Serif Display", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #f8f8f8;
  padding: 20px;
  background-color: rgba(60, 60, 60, .5);
  border-radius: 5px;*/


/*------------------------------------------OUR STORY SECTION--------------------------------------------------*/

.our-story-container {
  width: 90%;
  margin: 30px auto 10px;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.about-content {
  flex: 1;
  display: inline-block;
  padding: 10px 20px;
  left: 0;
  margin: 0 auto;
}

.about-img {
  flex: 1;
  overflow: hidden;
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  margin: 0 auto;
}

.about-img img {
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.about-content h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #144e77;
  text-align: center;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #051320;
  font-weight: 300;
  text-align: center;
}

/*-------------------------------------------------TREATMENTS------------------------------------------------*/


.hero-image-treatments {
  width: 100%;
  height: 100vh;
  background-image: url("../images/treatmentsimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.treatments-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto 0;
}

.treatments-heading h2 {
  font-size: 35px;
  color: #144e77;
  margin-bottom: 25px;
  position: relative;
}

.treatments-heading h2::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 200px;
  height: 3px;
  background-color: #144e77;
  display: block;
}

.treatments-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.about-treatments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  /*align-items: center;*/
}

.treatments-content {
  flex: 1;
  display: inline-block;
  padding: 30px 20px;
  margin: 0 auto;
}

.treatments-img {
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 3rem;
  position: relative;
  display: inline-block;
}

.treatments-img img {
  max-height: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.treatments-content h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #144e77;
  text-transform: capitalize;
  text-align: center;
}

.treatments-content h4 {
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5;
  color: #051320;
  margin-bottom: 15px;
  text-align: center;
}

.treatments-content p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #051320;
  text-align: center;
  padding: 10px 0 0 10px;
  max-width: 100%;
}

.img-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(20, 78, 119, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay h4 {
  color: #fff;
  font-size: 23px;
}

/*----------------------------------------------CONTACT US--------------------------------------------------------*/

.hero-image-contact {
  width: 100%;
  height: 110vh;
  background-image: url("../images/contactimage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/*
.hero-contact-heading {
  margin-top: 400px;
  background-color: rgba(60, 60, 60, .7);
  width: 300px;
  position: absolute;
  left: 10%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.hero-contact-heading h2 {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #f8f8f8;
  position: relative;
  padding: 20px 5px;
}*/

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-address {
  margin: 50px auto;
}

.contact-details {
  margin: 50px auto;
}

.contact-details a {
  color: #051320;
}

.contact-details a:hover {
  color: #144e77;
  font-weight: 500;
}

.contact-address h2,
.contact-details h2 {
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5;
  color: #051320;
}

.contact-address ul li {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #051320;
}

.contact-details p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #051320;
}

#locator {
  border: 4px solid #144e77;
  border-radius: 15px;
  padding: 10px;
  margin: 50px auto;
  height: fit=fit-content;
}

iframe {
  width: 18rem;
  height: 18rem;
}

/*-----------------------------------------------BOOKING ENQUIRY--------------------------------------------------*/
.hero-image-booking {
  width: 100%;
  height: 125vh;
  background-image: url("../images/bookingimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.enquiry-form {
  margin-top: 150px;
  color: #fff;
  background-color: rgba(60, 60, 60, .6);
  width: 400px;
  position: absolute;
  left: 10%;
  padding: 20px;
  border-radius: 5px;
}

.enquiry-form h2 {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

label {
  display: block;
}

.form-section input {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 2px;
  display: block;
}

.form-section textarea {
  background-color: #f8f8f8;
  font-family: "Noto Serif Display", sans-serif;
  padding: 2px;
  border-radius: 5px;
}

input[type=submit] {
  margin-top: 8px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  color: #051320;
  display: block;
  background-color: #69bce0;
  border: none;
  cursor: pointer;
  font-family: "Noto Serif Display", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 5px;
}

input[type=submit]:hover {
  transition: all 0.3s ease 0s;
  border: none;
  font-weight: 500;
  background-color: #144e77;
  color: #fff
}

.calendar {
  margin-top: 0;
  margin-bottom: 4px;
}

/*----------------------------------------------THANKYOU PAGE------------------------------------------------*/

.thankyou-heading h2 {
  margin-top: 200px;
  background-color: rgba(60, 60, 60, .7);
  width: 200px;
  position: absolute;
  left: 10%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color:#f8f8f8;
  font-weight: 400;
}

/*------------------------------------------------FOOTER-----------------------------------------------------*/

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #f8f8f8;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 25px;
}

.footer-col h3 {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 18px;
  color: #051320;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
}

.footer h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: #051320;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col a {
  color: #051320;
}

.footer-col a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-col ul li {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #f8f8f8;
}

.footer-col ul li a:hover {
  transition: all 0.5s ease 0s;
  font-weight: 500;
  padding-left: 8px;
  color: #144e77
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 10px 10px 0;
  border-radius: 50%;
  background-color: #69bce0;
}

.footer-col .social-links a:hover {
  transition: all 0.3s ease 0s;
  background-color: #144e77;
  color: #fff;
}

.book-now {
  margin: auto;
  padding: 20px;
  color: #051320;
  background-color: #69bce0;
  cursor: pointer;
  font-family: "Noto Serif Display", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  text-decoration: none;
}

.book-now:hover {
  transition: all 0.3s ease 0s;
  border: none;
  font-weight: 500;
  background-color: #144e77;
  color: #fff
}

/*-------------------------------------Extra-Small devices (Phones, 600px and down)---------------------------------*/

@media only screen and (max-width: 600px) {


  /*-------------------General----------------*/

  * {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  /*-------------------Header----------------*/
  .hamburger {
    display: block;
  }

  .navbar {
    gap: 0;
  }
  
  .nav-menu {  /* default state when inactive */
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  
  .nav-menu.active {  /* when nav-menu active(hamburger menu is clicked), the menu slides left to right across page, beneath header */
    left: 0;
  }

  .logo h1 {
    font-size: 30px;
  }

  /*-------------------Hero Image----------------*/

  .hero-image {
    width: 100%;
    height: 80vh;
    background-image: url("../images/heroimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .hero-image-container {
    width: 100%;
    overflow: hidden;
  }

  /*.hero-heading h2 {
    display: none;
  }*/

  /*-------------------Our Story----------------*/

  .our-story-container {
    margin: 0 auto;
    display: flex;
  }

  .about {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .about-content {
    padding: 0;
    margin-left: 0;
    display: block;
  }

  .about-content h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20px;
  }

  .about-content p {
    font-size: 1rem;
    line-height: 1.5;
    color: #051320;
    font-weight: 300;
    text-align: center;
  }

  .about-img {
    display: flex;
    height: 14rem;
    width: 14rem;
  }

  .about-img img {
    max-height: 100%;
    margin: 0 auto;
  }

  /*-------------------Treatments----------------*/

  .about-treatments {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .treatments-heading {
    padding: 0px 20px;
  }

  .treatments-heading h2 {
    font-size: 36px;
  }

  .treatments-heading p {
    font-size: 17px;
    margin-bottom: 0;
  }

  .treatments-container {
    padding: 0px;
  }

  .treatments-content {
    padding: 10px 0;
    display: block;
  }

  .treatments-img {
    height: 14rem;
    width: 14rem;
    margin: 0 auto;
    display: block;
  }

  .treatments-img img {
    margin: 0 auto;
  }

  .treatments-content p {
    padding: 0;
  }

  /*-------------------Contact----------------*/

  /*.hero-contact-heading {
    display: none;
  }*/

  .info-container {
    display: flex;
    flex-direction: column;
  }

  .contact-address {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    clear: both;
    width: 260px;
  }

  .contact-details {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 0 25px 45px;
    width: 260px;
  }

  #locator {
    display: flex;
    flex-direction: column;
    border: 8px double #144e77;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
  }

  .iframe {
    width: 14rem;
    height: 18rem;
  }

  /*------------------Booking----------------*/

  .enquiry-form {
    margin-top: 120px;
    color: #fff;
    background-color: rgba(60, 60, 60, .6);
    width: 260px;
    position: absolute;
    /* left: 10%; */
    padding: 10px 20px;
    border-radius: 5px;
  }

  /*------------------Thank you page----------------*/
  .thankyou-heading h2 {
    margin-top: 200px;
    width: 200px;
    left: 5%;
    padding: 0;
    font-size: 18px;
  }

  /*-------------------Footer----------------*/
  .footer-container {
    max-width: 1170px;
    margin: auto;
  }

  .footer-col {
    display: flex;
    width: 260px;
    padding: 0 25px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .footer-col h3 {
    font-family: "Noto Serif Display", sans-serif;
    font-size: 18px;
    color: #051320;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    padding-right: 20px;
    align-content: left;
  }

  .footer h3::before {
    display: none;
  }
}

/*-----------------------------------Small devices (Tablet, large phone, 600px and up)---------------------------------*/

@media only screen and (min-width: 600px) {

  /*-------------------Header----------------*/
  .logo h1 {
    font-size: 30px;
  }

  /*------------------Hero image-------------*/

  /*.hero-heading {
    display: none;
  }*/

  /*------------------Treatments-------------*/

  .treatments-content {
    display: flex;
    padding: 30px 20px;
    margin: 0 auto;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }

  .treatments-img {
    height: 14rem;
    width: 14rem;
    margin: 0 auto;
    display: block;
  }

  /*------------------Contact----------------*/
  .info-container {
    display: flex;
    flex-direction: column;
  }

  /*.hero-contact-heading {
    display: none;
  }*/

  .contact-address {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 260px;
  }

  .contact-details {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 260px;
  }

  #locator {
    border: 8px double #144e77;
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
  }

  .iframe {
    width: 18rem;
    height: 18rem;
  }

  /*-------------------Footer----------------*/

  .footer-container {
    max-width: 1170px;
    margin: auto;
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
  }

  .footer-col {
    display: flex;
    width: 260px;
    padding: 0 25px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .footer-col h3 {
    font-family: "Noto Serif Display", sans-serif;
    font-size: 18px;
    color: #051320;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    padding-right: 20px;
    align-content: left;
  }

  .footer h3::before {
    display: none;
  }

}

/*-------------------------------------Medium devices (Landscape tablets, 768px and up)---------------------------------*/
@media only screen and (min-width: 768px) {

  /*------------------Hero Image---------------*/

  /*.hero-heading {
    display: flex;
    width: 50%;
    text-align: center;
    padding: 250px 0 0 100px;
    background-clip: content-box;
    justify-content: flex-start;
    align-items: center; 
    align-content: center;
  }*/

  /*.hero-heading h2 {
    font-family: "Noto Serif Display", sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: #f8f8f8;
    margin-top: 150px; 
    padding: 40px; 
     background-color: rgba(60, 60, 60, .5); 
    border-radius: 5px; 
  }*/

  /*------------------Treatments---------------*/

  .treatments-content {
    /* display: flex; */
    flex: 1;
    /* display: inline-block; */
    padding: 30px 20px;
    margin: 0 auto;
  }

  .image-overlay {
    display: none;
  }

  /*-------------------Contact----------------*/

  .info-container {
    display: flex;
    flex-direction: row;
  }

  .contact-address {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 150px 30px;
  }

  .contact-details {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 150px 10px;
  }
}
