@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700&family=Oswald&family=Roboto:ital,wght@0,400;1,700&display=swap');

/*-------------GENERAL--------------*/
:root {
  --color-1: #fff;
  --menu-count: 4;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif Display", sans-serif;
  background-color: #fff;
}

hr {
  border-top: 1px solid #051320;
  width: 33%;
}

/*---------------HEADER--------------*/
.mobile-menu-btn {
  display: none;
}

.header {
  background-color: var(--color-1);
  padding: 20px 0;
  line-height: 1.5rem;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .container {
  max-width: 1200px;
  margin: auto;
}

.header .row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #051320;
  text-transform: capitalize;
  cursor: pointer;
}

.header .logo a:hover {
  transition: all 0.3s ease 0s;
  color: #144e77;
  text-decoration: none;
}

.header .nav ul li a {
  display: block;
  font-size: 18px;
  color: #051320;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
  transition: all 0.3s ease 0s;
  color: #144e77;
}

.header .nav ul li a.active {
  border-bottom: 2px solid #144e77;
}

.header .logo {
  position: relative;
}

.header .logo::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 15px;
  background-color: #051320;
  height: 2px;
  box-sizing: border-box;
  width: 140px;
}

/*------------HERO IMAGE--------------*/

.hero-image {
  width: 100%;
  height: 100vh;
  background-image: url("../images/heroimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.hero-image-container {
  overflow: hidden;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.hero-heading {
  width: 30%;
  font-family: "Noto Serif Display", sans-serif;
  font-size: 1rem;
  color: #f8f8f8;
  text-align: left;
  padding-top: 200px;
  padding-left: 200px;
  padding-bottom: 50px;
}

/*-----OUR STORY SECTION--------*/

.our-story-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}


.our-story-heading h2 {
  font-size: 35px;
  color: #144e77;
  margin-bottom: 25px;
  position: relative;
}

.our-story-heading h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  margin: 0 auto;
  background-color: #144e77;
}

.our-story-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
}

.about-img {
  flex: 1;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-right: 40px;
}

.about-img img {
  max-height: 100%;
  height: auto;
  display: block;
}

.about-content {
  flex: 1;
  display: block;
  padding: 10px 20px;
  width: 50%;
  left: 0;
}

.about-content h3 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #144e77;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #051320;
}

/*------------TREATMENTS----------*/

.hero-image-treatments {
  width: 100%;
  height: 100vh;
  background-image: url("../images/treatmentsimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.hero-treatments-heading {
  width: 50%;
  text-align: center;
  padding-top: 200px;
  padding-left: 250px;
  padding-bottom: 50px;
}

.hero-treatments-heading h1 {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #f8f8f8;
}

.hero-image-treatments-container {
  overflow: hidden;
}

.treatments-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.treatments-heading h2 {
  font-size: 35px;
  color: #144e77;
  margin-bottom: 25px;
  position: relative;
}

.treatments-heading h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  margin: 0 auto;
  background-color: #144e77;
}

.treatments-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about-treatments {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
}

.treatments-img {
  flex: 1;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 80px;
  margin-bottom: 30px;
  align-items: center;
}

.treatments-img img {
  max-height: 100%;
  height: auto;
  display: block;
}

.treatments-content {
  flex: 1;
  display: inline-block;
  padding: 10px 20px;
  width: 50%;
  left: 0;
}

.treatments-content h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #144e77;
  text-transform: capitalize;
  text-align: center;
}

.treatments-content h4 {
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5;
  color: #051320;
  margin-bottom: 15px;
  text-align: center;
}

.treatments-content p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #051320;
}


/*------------BOOKING ENQUIRY----*/
.hero-image-booking {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bookingimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-image-booking-container {
  overflow: hidden;
}

.enquiry-form {
  margin-top: 150px;
  color: #fff;
  background-color: rgba(60, 60, 60, .6);
  width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px;
}

.enquiry-form h2 {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.form-section input {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 2px;
}

.form-section textarea {
  background-color: #f8f8f8;
  font-family: "Noto Serif Display", sans-serif;
  padding: 2px;
  border-radius: 5px;
}

input[type=submit] {
  margin-top: 20px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  color: #051320;
  display: block;
  background-color: #69bce0;
  border: none;
  cursor: pointer;
  font-family: "Noto Serif Display", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 5px;
}

input[type=submit]:hover {
  transition: all 0.3s ease 0s;
  border: none;
  font-weight: 500;
  background-color: #144e77;
  color: #fff
}

.calendar {
  margin-top: 0;
  margin-bottom: 4px;
}

/*-------------FOOTER-----------*/

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #f8f8f8;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 25px;
}

.footer-col h4 {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 18px;
  color: #051320;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
}

.footer h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: #051320;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col button {
  width: fit-content;
  margin: auto;
  padding: 5px 15px;
  color: #051320;
  background-color: #69bce0;
  border: none;
  cursor: pointer;
  font-family: "Noto Serif Display", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  text-decoration: none;
}

.footer-col a {
  color: #051320;
}

.footer-col a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-col button:hover {
  transition: all 0.3s ease 0s;
  border: none;
  font-weight: 500;
  background-color: #144e77;
  color: #fff
}

.footer-col ul li {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #f8f8f8;
}

.footer-col ul li a:hover {
  transition: all 0.5s ease 0s;
  font-weight: 500;
  padding-left: 8px;
  color: #144e77
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 10px 10px 0;
  border-radius: 50%;
  background-color: #69bce0;
}

.footer-col .social-links a:hover {
  transition: all 0.3s ease 0s;
  background-color: #144e77;
  color: #fff;
}


@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }
  .mobile-menu-btn {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  .header {
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
  }
  .header .nav {
    width: 100%;
    height: 80vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
  }
  .header .logo {
    width: 100%;
    height: 20vh;
    padding-top: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
  }
  .header .logo::after {
    display: none;
  }
  .header .nav ul {
    height: 70%;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
  }
  .header .nav ul li {
    width: 100%;
    height: calc(100% / var(--menu-count));
    padding: 0;
    margin: 0;
    border-top: 1px solid #69bce0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    transition: all ease-in-out 200ms;
  }
  .header .nav ul li:nth-last-child(1) {
    border-bottom: 1px solid #69bce0;
  }
  .header .nav ul li a {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }
  .header .nav ul li a.active {
    color: #051320;
    background-color: transparent;
    border: none;
  }
  .header .nav {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .treatments-heading {
    padding: 0px 20px;
  }
  .treatments-heading h2 {
    font-size: 36px;
  }
  .treatments-heading p {
    font-size: 17px;
    margin-bottom: 0;
  }
  .treatments-container {
    padding: 0px;
  }
  .treatments-content {
    padding: 20px;
    flex-direction: column;
  }
  .treatments-img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}